
:root {
    --color-black: #0f0f0f;
    --color-blue: #55f;
    --color-blue-dark: #33b;
    --color-blue-light: #77f;
    --color-grey: #333;
    --color-grey-dark: #222;
    --color-grey-light: #444;
    --color-white: #fafafa;
    --color-yellow: #ff0;

    --footer-height: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

body {
    background-color: var(--color-grey);
    color: var(--color-white);
    font-family: Consolas, Monospaced, sans-serif;
    overflow-x: auto;
    padding-bottom: calc(16px + var(--footer-height));
}

/* Elements */

a {
    color: var(--color-white);
    text-decoration: none;
}

a:hover {
    color: var(--color-yellow);
}

article {
    background: var(--color-grey-dark);
    border: 1px solid var(--color-white);
    border-radius: 12px;
    width: 100%;

    h2 {
        width: 100%;
    }
}

aside {
    background: var(--color-grey-dark);
    border: 1px solid var(--color-white);
    border-radius: 12px;
    gap: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    z-index: 100;

    position: fixed;
    left: 0;
    top: 38%;
}

button {
    background: var(--color-blue);
    border: none;
    border-radius: 12px;
    color: var(--color-white);
    font-size: 1rem;
    margin: 8px;
    padding: 8px;
}

button:hover {
    background: var(--color-blue-light);
    color: var(--color-yellow);
    cursor: pointer;
}

button:active {
    background: var(--color-blue-dark);
}

footer {
    align-items: center;
    background: var(--color-grey-dark);
    border-top: 1px solid var(--color-white);
    display: flex;
    height: var(--footer-height);
    justify-content: center;
    padding: 8px;

    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    border: 2px inset var(--color-white);
    gap: 2px;
    padding: 16px 16px 6px;
    width: 100%;

    button {
        outline: none;
    }

    .flex-row {
        align-items: center;
        gap: 8px;
        justify-content: space-between;

        input {
            flex-grow: 1;
            outline: none;
            padding: 4px;
        }

        label {
            width: 20%;
        }
    }
}

h1 {
    margin: 16px auto;
}

h2 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1rem;
    margin: 8px auto;
}

main {
    background: var(--color-grey-dark);
    border-radius: 16px;
    margin: 16px auto;
    padding: 16px;
    width: 500px;
}

nav {
    background: var(--color-grey-dark);
    border-bottom: 1px solid var(--color-white);
    justify-content: center;
    position: sticky;

    top: 0;

    a {
        padding: 8px;
    }
}

ol, ul {
    list-style-position: inside;
}

p {
    padding: 16px;
}

section {
    background: var(--color-grey);
    border-radius: 16px;
    gap: 16px;
    margin: 16px auto 0;
    padding: 16px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;

    tbody {
        background: var(--color-grey);
    }

    td, th {
        border: 1px solid var(--color-white);
        padding: 8px;
    }

    thead {
        background: var(--color-black);

        th {
            text-align: center;
        }
    }
}

/* Generic Classes */

.background-dark {
    background-color: var(--color-grey-dark);
}

.border-bottom {
    border-bottom: 1px solid var(--color-white);
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    min-height: 24px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    min-height: 24px;
}

.text-center {
    text-align: center;
 }

.text-right {
    text-align: right;
}

.text-highlight:hover {
    color: var(--color-yellow);
}

/* IDs */

#button-img {
    width: 120px;
}

#div-img {
    background: var(--color-black);
    border-radius: 12px;
    height: 230px;
    margin: 15px auto;
    width: 230px;

    img {
        border-radius: 12px;
    }
}

#login {
    align-items: center;
    height: 90vh;
    justify-content: center;

    #button-login {
        width: 120px;
    }
}

#table-container {
    border: 2px inset var(--color-white);
    height: 300px;
    overflow-y: scroll;
    margin-top: 16px;
    width: 100%;

    .table-age {
        width: 72px;
    }

    .table-index {
        width: 72px;
    }

    .table-cc {
        width: 24px;
    }
}
